---
---

<div class="bg-white box-border flex flex-col lg:flex-row gap-8 lg:gap-[80px] items-center pl-4 lg:pl-[80px] pr-4 lg:pr-[64px] py-[62px] relative w-full" data-name="Header / 26 /" data-node-id="11:709">
  <div class="flex flex-col lg:flex-row gap-8 lg:gap-[80px] items-center max-w-[1280px] relative shrink-0 w-full lg:w-[575px]" data-name="Container" data-node-id="11:710">
    <div class="flex flex-col gap-[32px] items-start justify-center max-w-[768px] min-h-0 min-w-0 relative shrink-0 w-full" data-name="Column" data-node-id="11:711">
      <div class="flex flex-col gap-[24px] items-center relative shrink-0 text-[#072e49] w-full" data-name="Content" data-node-id="11:712">
        <p class="font-roboto font-bold leading-[1.2] relative shrink-0 text-3xl lg:text-[48px] tracking-[-0.48px] w-full whitespace-pre-wrap" data-node-id="11:713">Unidos por la excelencia técnica, la integridad y el cumplimiento responsable.</p>
        <p class="font-normal leading-[1.5] relative shrink-0 text-base lg:text-[18px] w-full" data-node-id="11:714">
          Nuestros valores como la sustentabilidad, integridad, innovación y liderazgo nos definen
        </p>
      </div>
      <div class="flex gap-[16px] items-center relative shrink-0 flex-wrap" data-name="Actions" data-node-id="11:715">
        <button class="bg-[#1274b8] border border-[#1274b8] border-solid box-border flex gap-[8px] items-center justify-center px-[24px] py-[10px] relative shrink-0 text-white" data-name="Button" data-node-id="11:716">
          Conoce nuestros servicios
        </button>
        <button class="border border-[#072e49] border-solid box-border flex gap-[8px] items-center justify-center px-[24px] py-[10px] relative shrink-0 text-[#072e49]" data-name="Button" data-node-id="11:717">
          Contáctanos
        </button>
      </div>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row gap-8 lg:gap-[80px] h-auto lg:h-[642px] items-start relative shrink-0 w-full lg:w-[632px]" data-name="Component" data-node-id="20:1467">
    <div class="flex flex-col gap-[32px] items-start min-h-0 min-w-0 relative shrink-0 w-full" data-name="Content" data-node-id="20:1468">
      <div class="flex flex-col gap-[16px] items-start relative shrink-0 w-full" data-name="Section Title" data-node-id="20:1469">
        <div class="flex flex-col gap-[24px] items-start relative shrink-0 text-[#050606] w-full" data-name="Content" data-node-id="20:1472">
          <p class="font-roboto font-bold leading-[1.2] relative shrink-0 text-4xl lg:text-[52px] tracking-[-0.52px] w-full" data-node-id="20:1473">
            Hablemos
          </p>
          <p class="font-normal leading-[1.5] relative shrink-0 text-base lg:text-[18px] w-full" data-node-id="20:1474">
            Estamos listos para escuchar tus necesidades y diseñar soluciones personalizadas
          </p>
        </div>
      </div>
      <form class="flex flex-col gap-[24px] items-start relative shrink-0 w-full" data-name="Form" data-node-id="20:1475">
        <div class="flex flex-col gap-[8px] items-start relative shrink-0 w-full" data-name="Input" data-node-id="20:1476">
          <label class="font-normal leading-[1.5] relative shrink-0 text-[#050606] text-base w-full" data-node-id="20:1477">
            Nombre
          </label>
          <input type="text" class="bg-[rgba(5,6,6,0.05)] border border-[rgba(5,6,6,0.15)] border-solid box-border flex gap-[8px] items-center px-[12px] py-[8px] shrink-0 w-full" data-name="Text input" data-node-id="20:1478" />
        </div>
        <div class="flex flex-col gap-[8px] items-start relative shrink-0 w-full" data-name="Input" data-node-id="20:1479">
          <label class="font-normal leading-[1.5] relative shrink-0 text-[#050606] text-base w-full" data-node-id="20:1480">
            Correo
          </label>
          <input type="email" class="bg-[rgba(5,6,6,0.05)] border border-[rgba(5,6,6,0.15)] border-solid box-border flex gap-[8px] items-center px-[12px] py-[8px] shrink-0 w-full" data-name="Text input" data-node-id="20:1481" />
        </div>
        <div class="flex flex-col gap-[8px] items-start relative shrink-0 w-full" data-name="Input" data-node-id="20:1482">
          <label class="font-normal leading-[1.5] relative shrink-0 text-[#050606] text-base w-full" data-node-id="20:1483">
            Mensaje
          </label>
          <textarea class="bg-[rgba(5,6,6,0.05)] border border-[rgba(5,6,6,0.15)] border-solid box-border h-[93px] p-[12px] relative shrink-0 w-full resize-none" placeholder="Escribe tu mensaje aquí" data-name="Text Area" data-node-id="20:1484"></textarea>
        </div>
        <div class="box-border flex gap-[8px] items-center pb-[16px] pt-0 px-0 relative shrink-0" data-name="Checkbox" data-node-id="20:1485">
          <input type="checkbox" class="bg-[rgba(5,6,6,0.05)] border border-[rgba(5,6,6,0.15)] border-solid shrink-0 w-[18px] h-[18px]" data-name="Checkbox" />
          <label class="flex flex-col font-normal justify-center leading-[0] relative shrink-0 text-[#050606] text-sm" data-node-id="I20:1485;4179:9061">
            Acepto términos y condiciones
          </label>
        </div>
        <button type="submit" class="bg-[#5e6e73] border border-[#5e6e73] border-solid box-border flex gap-[8px] items-center justify-center px-[24px] py-[10px] relative shrink-0 text-white" data-name="Button" data-node-id="20:1486">
          Enviar
        </button>
      </form>
    </div>
  </div>
</div>